
[Paths]
PathConstrainteFile: fasta_constraints
PathConstrainteFileShape:fasta_Shape
Psdotpath: dot_plot
Matrixproba: Probability/
rnafile: HIV.fa
Extension: .fa
PickledData: PickledData
Varna_path:

[Conditions]
constraints: HIV1M7,HIVNMIA,HIVT1+-,HIVT1++
MFEs: HIV, HIV1M7,HIVNMIA,HIVT1+-,HIVT1++
# MFEs constraintes should keep the order of the MFEs file
SHAPEVis: HIV1M7Shape.txt
numberofsruct: 100
Temperature: 4
StructFile: merged_file_samples
cutoffBasePairs : 0.7
rnafile : HIV.fa


[Clustering]
AFIN_PROP: true
DIANA:False
maxDiameterThreshold: 30
maxAverageDiameterThreshold: 30

[Pareto]
percent:20 
CutoffZcondition:0.05
